h1{
    text-align: left;
    font-size: 100px;
    color: rgb(255, 255, 255);
}
body{
    background-image: url("escola.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 20%;
    height: 100%;
}
.botao{
    background-color: black;
    color: honeydew;
    border: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
li{
    color: aliceblue;
}